<!DOCTYPE html>
    <html lang="en">
	    <script>alert('Wow')</script>
	    <head>
		    <meta charset="UTF-8">
		    <title>Название вкладки</title>
	    </head>

	    <body>
            <h2><b>Привет</b></h2>
		    <p>Какой-то текст в абзаце. И зачем-то следующее слово решили<br>перенести.</p>
		    <img src="https://flask.palletsprojects.com/en/2.0.x/_images/flask-logo.png"
		    alt="Image">
		    <ul>
                <li>Какой-то пункт</li>
                <li>И еще один</li>
            </ul>
            <hr>
            <ol>
                <li>Это первый пункт</li>
                <li>А это второй</li>
                <li>Но может быть и третий</li>
            </ol>
	    </body>
    </html>