<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		
	</head>

	<body>
        <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="Img" width="240"height="240">
		<p>В шаблоне при помощи тега link производиться подключение. Атрибут rel указывает тип ссылки, значение stylesheet обозначает ссылку на таблицу стилей. В атрибуте href применяется особая функция: url_for, указывающая на название папки static и путь к самому файлу в аргументе filename с начальной точкой местположения от static.

Что это за синтаксис с использованием фигурных скобок будет рассказно в следующем модуле.<br> Сама функция url_for может быть использована внутри python-кода и в шаблоне. В конкретном случае используется получение файла, но также при помощи url_for создают ссылки на другие страницы внутри проекта. В таком случае функция принимает только один параметр - название функции в виде типа данных str. Это будет продемонстрировано позже.</p>
	</body>
</html>